@model WebApplication1.Models.ProfileImage

@{
    ViewBag.Title = "Home Page";
}

<br /><br />

<div>
    <img src="@Model.Image1"/>
    <br /><br />
    <img src="@Model.Image2" />
    <br /><br />
    <img src="@Model.Image3" />
    <br /><br />
    <img src="@Model.Image4" />
</div>